<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.mapper.AuditionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.pojo.AuditionInfo" >
    <id column="audition_id" property="auditionId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="audition_time" property="auditionTime" jdbcType="TIMESTAMP" />
    <result column="audition_addr" property="auditionAddr" jdbcType="VARCHAR" />
    <result column="audition_course" property="auditionCourse" jdbcType="VARCHAR" />
    <result column="audition_desc" property="auditionDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    audition_id, student_id, audition_time, audition_addr, audition_course, audition_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guigu.pojo.AuditionInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from audition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from audition_info
    where audition_id = #{auditionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audition_info
    where audition_id = #{auditionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guigu.pojo.AuditionInfoExample" >
    delete from audition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guigu.pojo.AuditionInfo" >
    insert into audition_info (audition_id, student_id, audition_time, 
      audition_addr, audition_course, audition_desc
      )
    values (#{auditionId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{auditionTime,jdbcType=TIMESTAMP}, 
      #{auditionAddr,jdbcType=VARCHAR}, #{auditionCourse,jdbcType=VARCHAR}, #{auditionDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guigu.pojo.AuditionInfo" >
    insert into audition_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auditionId != null" >
        audition_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="auditionTime != null" >
        audition_time,
      </if>
      <if test="auditionAddr != null" >
        audition_addr,
      </if>
      <if test="auditionCourse != null" >
        audition_course,
      </if>
      <if test="auditionDesc != null" >
        audition_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auditionId != null" >
        #{auditionId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="auditionTime != null" >
        #{auditionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditionAddr != null" >
        #{auditionAddr,jdbcType=VARCHAR},
      </if>
      <if test="auditionCourse != null" >
        #{auditionCourse,jdbcType=VARCHAR},
      </if>
      <if test="auditionDesc != null" >
        #{auditionDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guigu.pojo.AuditionInfoExample" resultType="java.lang.Integer" >
    select count(*) from audition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update audition_info
    <set >
      <if test="record.auditionId != null" >
        audition_id = #{record.auditionId,jdbcType=INTEGER},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.auditionTime != null" >
        audition_time = #{record.auditionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditionAddr != null" >
        audition_addr = #{record.auditionAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.auditionCourse != null" >
        audition_course = #{record.auditionCourse,jdbcType=VARCHAR},
      </if>
      <if test="record.auditionDesc != null" >
        audition_desc = #{record.auditionDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update audition_info
    set audition_id = #{record.auditionId,jdbcType=INTEGER},
      student_id = #{record.studentId,jdbcType=INTEGER},
      audition_time = #{record.auditionTime,jdbcType=TIMESTAMP},
      audition_addr = #{record.auditionAddr,jdbcType=VARCHAR},
      audition_course = #{record.auditionCourse,jdbcType=VARCHAR},
      audition_desc = #{record.auditionDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guigu.pojo.AuditionInfo" >
    update audition_info
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="auditionTime != null" >
        audition_time = #{auditionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditionAddr != null" >
        audition_addr = #{auditionAddr,jdbcType=VARCHAR},
      </if>
      <if test="auditionCourse != null" >
        audition_course = #{auditionCourse,jdbcType=VARCHAR},
      </if>
      <if test="auditionDesc != null" >
        audition_desc = #{auditionDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where audition_id = #{auditionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guigu.pojo.AuditionInfo" >
    update audition_info
    set student_id = #{studentId,jdbcType=INTEGER},
      audition_time = #{auditionTime,jdbcType=TIMESTAMP},
      audition_addr = #{auditionAddr,jdbcType=VARCHAR},
      audition_course = #{auditionCourse,jdbcType=VARCHAR},
      audition_desc = #{auditionDesc,jdbcType=VARCHAR}
    where audition_id = #{auditionId,jdbcType=INTEGER}
  </update>
</mapper>