<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.mapper.StaffInfoMapper">
	<resultMap id="BaseResultMap" type="com.guigu.pojo.StaffInfo">
		<id column="staff_id" property="staffId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="staff_name" property="staffName"
			jdbcType="VARCHAR" />
		<result column="staff_sex" property="staffSex"
			jdbcType="VARCHAR" />
		<result column="staff_age" property="staffAge"
			jdbcType="INTEGER" />
		<result column="staff_native_place" property="staffNativePlace"
			jdbcType="VARCHAR" />
		<result column="staff_idcard" property="staffIdcard"
			jdbcType="VARCHAR" />
		<result column="staff_brithday" property="staffBrithday"
			jdbcType="TIMESTAMP" />
		<result column="staff_office_phone" property="staffOfficePhone"
			jdbcType="VARCHAR" />
		<result column="staff_mobile_phone" property="staffMobilePhone"
			jdbcType="VARCHAR" />
		<result column="staff_eamil" property="staffEamil"
			jdbcType="VARCHAR" />
		<result column="staff_addr" property="staffAddr"
			jdbcType="VARCHAR" />
		<result column="staff_qq" property="staffQq" jdbcType="VARCHAR" />
		<result column="staff_entry_time" property="staffEntryTime"
			jdbcType="TIMESTAMP" />
		<result column="staff_eduction_level"
			property="staffEductionLevel" jdbcType="VARCHAR" />
		<result column="staff_remark" property="staffRemark"
			jdbcType="VARCHAR" />
		<result column="staff_state" property="staffState"
			jdbcType="VARCHAR" />
		<result column="user_number" property="userNumber"
			jdbcType="VARCHAR" />
		<result column="user_passowrd" property="userPassowrd"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		staff_id, role_id, staff_name, staff_sex, staff_age, staff_native_place,
		staff_idcard,
		staff_brithday, staff_office_phone, staff_mobile_phone, staff_eamil, staff_addr,
		staff_qq, staff_entry_time, staff_eduction_level, staff_remark,
		staff_state, user_number,
		user_passowrd
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.guigu.pojo.StaffInfoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from staff_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from staff_info
		where staff_id = #{staffId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from staff_info
		where staff_id = #{staffId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.guigu.pojo.StaffInfoExample">
		delete from staff_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.guigu.pojo.StaffInfo">
		insert into staff_info (staff_id, role_id, staff_name,
		staff_sex, staff_age, staff_native_place,
		staff_idcard, staff_brithday, staff_office_phone,
		staff_mobile_phone, staff_eamil, staff_addr,
		staff_qq, staff_entry_time, staff_eduction_level,
		staff_remark, staff_state, user_number,
		user_passowrd)
		values (#{staffId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER},
		#{staffName,jdbcType=VARCHAR},
		#{staffSex,jdbcType=VARCHAR}, #{staffAge,jdbcType=INTEGER}, #{staffNativePlace,jdbcType=VARCHAR},
		#{staffIdcard,jdbcType=VARCHAR}, #{staffBrithday,jdbcType=TIMESTAMP},
		#{staffOfficePhone,jdbcType=VARCHAR},
		#{staffMobilePhone,jdbcType=VARCHAR}, #{staffEamil,jdbcType=VARCHAR},
		#{staffAddr,jdbcType=VARCHAR},
		#{staffQq,jdbcType=VARCHAR}, #{staffEntryTime,jdbcType=TIMESTAMP},
		#{staffEductionLevel,jdbcType=VARCHAR},
		#{staffRemark,jdbcType=VARCHAR}, #{staffState,jdbcType=VARCHAR},
		#{userNumber,jdbcType=VARCHAR},
		#{userPassowrd,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.guigu.pojo.StaffInfo">
		insert into staff_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="staffId != null">
				staff_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="staffName != null">
				staff_name,
			</if>
			<if test="staffSex != null">
				staff_sex,
			</if>
			<if test="staffAge != null">
				staff_age,
			</if>
			<if test="staffNativePlace != null">
				staff_native_place,
			</if>
			<if test="staffIdcard != null">
				staff_idcard,
			</if>
			<if test="staffBrithday != null">
				staff_brithday,
			</if>
			<if test="staffOfficePhone != null">
				staff_office_phone,
			</if>
			<if test="staffMobilePhone != null">
				staff_mobile_phone,
			</if>
			<if test="staffEamil != null">
				staff_eamil,
			</if>
			<if test="staffAddr != null">
				staff_addr,
			</if>
			<if test="staffQq != null">
				staff_qq,
			</if>
			<if test="staffEntryTime != null">
				staff_entry_time,
			</if>
			<if test="staffEductionLevel != null">
				staff_eduction_level,
			</if>
			<if test="staffRemark != null">
				staff_remark,
			</if>
			<if test="staffState != null">
				staff_state,
			</if>
			<if test="userNumber != null">
				user_number,
			</if>
			<if test="userPassowrd != null">
				user_passowrd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="staffId != null">
				#{staffId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="staffName != null">
				#{staffName,jdbcType=VARCHAR},
			</if>
			<if test="staffSex != null">
				#{staffSex,jdbcType=VARCHAR},
			</if>
			<if test="staffAge != null">
				#{staffAge,jdbcType=INTEGER},
			</if>
			<if test="staffNativePlace != null">
				#{staffNativePlace,jdbcType=VARCHAR},
			</if>
			<if test="staffIdcard != null">
				#{staffIdcard,jdbcType=VARCHAR},
			</if>
			<if test="staffBrithday != null">
				#{staffBrithday,jdbcType=TIMESTAMP},
			</if>
			<if test="staffOfficePhone != null">
				#{staffOfficePhone,jdbcType=VARCHAR},
			</if>
			<if test="staffMobilePhone != null">
				#{staffMobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="staffEamil != null">
				#{staffEamil,jdbcType=VARCHAR},
			</if>
			<if test="staffAddr != null">
				#{staffAddr,jdbcType=VARCHAR},
			</if>
			<if test="staffQq != null">
				#{staffQq,jdbcType=VARCHAR},
			</if>
			<if test="staffEntryTime != null">
				#{staffEntryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="staffEductionLevel != null">
				#{staffEductionLevel,jdbcType=VARCHAR},
			</if>
			<if test="staffRemark != null">
				#{staffRemark,jdbcType=VARCHAR},
			</if>
			<if test="staffState != null">
				#{staffState,jdbcType=VARCHAR},
			</if>
			<if test="userNumber != null">
				#{userNumber,jdbcType=VARCHAR},
			</if>
			<if test="userPassowrd != null">
				#{userPassowrd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.guigu.pojo.StaffInfoExample"
		resultType="java.lang.Integer">
		select count(*) from staff_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update staff_info
		<set>
			<if test="record.staffId != null">
				staff_id = #{record.staffId,jdbcType=INTEGER},
			</if>
			<if test="record.roleId != null">
				role_id = #{record.roleId,jdbcType=INTEGER},
			</if>
			<if test="record.staffName != null">
				staff_name = #{record.staffName,jdbcType=VARCHAR},
			</if>
			<if test="record.staffSex != null">
				staff_sex = #{record.staffSex,jdbcType=VARCHAR},
			</if>
			<if test="record.staffAge != null">
				staff_age = #{record.staffAge,jdbcType=INTEGER},
			</if>
			<if test="record.staffNativePlace != null">
				staff_native_place = #{record.staffNativePlace,jdbcType=VARCHAR},
			</if>
			<if test="record.staffIdcard != null">
				staff_idcard = #{record.staffIdcard,jdbcType=VARCHAR},
			</if>
			<if test="record.staffBrithday != null">
				staff_brithday = #{record.staffBrithday,jdbcType=TIMESTAMP},
			</if>
			<if test="record.staffOfficePhone != null">
				staff_office_phone = #{record.staffOfficePhone,jdbcType=VARCHAR},
			</if>
			<if test="record.staffMobilePhone != null">
				staff_mobile_phone = #{record.staffMobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="record.staffEamil != null">
				staff_eamil = #{record.staffEamil,jdbcType=VARCHAR},
			</if>
			<if test="record.staffAddr != null">
				staff_addr = #{record.staffAddr,jdbcType=VARCHAR},
			</if>
			<if test="record.staffQq != null">
				staff_qq = #{record.staffQq,jdbcType=VARCHAR},
			</if>
			<if test="record.staffEntryTime != null">
				staff_entry_time = #{record.staffEntryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.staffEductionLevel != null">
				staff_eduction_level = #{record.staffEductionLevel,jdbcType=VARCHAR},
			</if>
			<if test="record.staffRemark != null">
				staff_remark = #{record.staffRemark,jdbcType=VARCHAR},
			</if>
			<if test="record.staffState != null">
				staff_state = #{record.staffState,jdbcType=VARCHAR},
			</if>
			<if test="record.userNumber != null">
				user_number = #{record.userNumber,jdbcType=VARCHAR},
			</if>
			<if test="record.userPassowrd != null">
				user_passowrd = #{record.userPassowrd,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update staff_info
		set staff_id = #{record.staffId,jdbcType=INTEGER},
		role_id = #{record.roleId,jdbcType=INTEGER},
		staff_name = #{record.staffName,jdbcType=VARCHAR},
		staff_sex = #{record.staffSex,jdbcType=VARCHAR},
		staff_age = #{record.staffAge,jdbcType=INTEGER},
		staff_native_place = #{record.staffNativePlace,jdbcType=VARCHAR},
		staff_idcard = #{record.staffIdcard,jdbcType=VARCHAR},
		staff_brithday = #{record.staffBrithday,jdbcType=TIMESTAMP},
		staff_office_phone = #{record.staffOfficePhone,jdbcType=VARCHAR},
		staff_mobile_phone = #{record.staffMobilePhone,jdbcType=VARCHAR},
		staff_eamil = #{record.staffEamil,jdbcType=VARCHAR},
		staff_addr = #{record.staffAddr,jdbcType=VARCHAR},
		staff_qq = #{record.staffQq,jdbcType=VARCHAR},
		staff_entry_time = #{record.staffEntryTime,jdbcType=TIMESTAMP},
		staff_eduction_level = #{record.staffEductionLevel,jdbcType=VARCHAR},
		staff_remark = #{record.staffRemark,jdbcType=VARCHAR},
		staff_state = #{record.staffState,jdbcType=VARCHAR},
		user_number = #{record.userNumber,jdbcType=VARCHAR},
		user_passowrd = #{record.userPassowrd,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.guigu.pojo.StaffInfo">
		update staff_info
		<set>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="staffName != null">
				staff_name = #{staffName,jdbcType=VARCHAR},
			</if>
			<if test="staffSex != null">
				staff_sex = #{staffSex,jdbcType=VARCHAR},
			</if>
			<if test="staffAge != null">
				staff_age = #{staffAge,jdbcType=INTEGER},
			</if>
			<if test="staffNativePlace != null">
				staff_native_place = #{staffNativePlace,jdbcType=VARCHAR},
			</if>
			<if test="staffIdcard != null">
				staff_idcard = #{staffIdcard,jdbcType=VARCHAR},
			</if>
			<if test="staffBrithday != null">
				staff_brithday = #{staffBrithday,jdbcType=TIMESTAMP},
			</if>
			<if test="staffOfficePhone != null">
				staff_office_phone = #{staffOfficePhone,jdbcType=VARCHAR},
			</if>
			<if test="staffMobilePhone != null">
				staff_mobile_phone = #{staffMobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="staffEamil != null">
				staff_eamil = #{staffEamil,jdbcType=VARCHAR},
			</if>
			<if test="staffAddr != null">
				staff_addr = #{staffAddr,jdbcType=VARCHAR},
			</if>
			<if test="staffQq != null">
				staff_qq = #{staffQq,jdbcType=VARCHAR},
			</if>
			<if test="staffEntryTime != null">
				staff_entry_time = #{staffEntryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="staffEductionLevel != null">
				staff_eduction_level = #{staffEductionLevel,jdbcType=VARCHAR},
			</if>
			<if test="staffRemark != null">
				staff_remark = #{staffRemark,jdbcType=VARCHAR},
			</if>
			<if test="staffState != null">
				staff_state = #{staffState,jdbcType=VARCHAR},
			</if>
			<if test="userNumber != null">
				user_number = #{userNumber,jdbcType=VARCHAR},
			</if>
			<if test="userPassowrd != null">
				user_passowrd = #{userPassowrd,jdbcType=VARCHAR},
			</if>
		</set>
		where staff_id = #{staffId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.guigu.pojo.StaffInfo">
		update staff_info
		set role_id = #{roleId,jdbcType=INTEGER},
		staff_name = #{staffName,jdbcType=VARCHAR},
		staff_sex = #{staffSex,jdbcType=VARCHAR},
		staff_age = #{staffAge,jdbcType=INTEGER},
		staff_native_place = #{staffNativePlace,jdbcType=VARCHAR},
		staff_idcard = #{staffIdcard,jdbcType=VARCHAR},
		staff_brithday = #{staffBrithday,jdbcType=TIMESTAMP},
		staff_office_phone = #{staffOfficePhone,jdbcType=VARCHAR},
		staff_mobile_phone = #{staffMobilePhone,jdbcType=VARCHAR},
		staff_eamil = #{staffEamil,jdbcType=VARCHAR},
		staff_addr = #{staffAddr,jdbcType=VARCHAR},
		staff_qq = #{staffQq,jdbcType=VARCHAR},
		staff_entry_time = #{staffEntryTime,jdbcType=TIMESTAMP},
		staff_eduction_level = #{staffEductionLevel,jdbcType=VARCHAR},
		staff_remark = #{staffRemark,jdbcType=VARCHAR},
		staff_state = #{staffState,jdbcType=VARCHAR},
		user_number = #{userNumber,jdbcType=VARCHAR},
		user_passowrd = #{userPassowrd,jdbcType=VARCHAR}
		where staff_id = #{staffId,jdbcType=INTEGER}
	</update>
</mapper>